<div class="top-whitespace">
</div>

<div class="nav-vertical">
  <%= render 'nav_vertical_brands' %>
</div>

<div class="wrapper_show">

  <div id="description-heading">
      <h3><strong><%=@products.product_name%></strong></h3>
    </div>

  <div class="nav-products">
       | <%= link_to "New Attributes", "#{@products.id}/new_attributes" %>
       | <%= link_to "New #{@products.product_name}", "#{@products.id}/new" %>
       | <%= link_to "New Brand", "#{@products.id}/new_brand" %> |
  </div>
  <hr>
  <% @product_attributes.each do |attribute| %>

     <details>
        <summary><% attribute.num_view %><%= image_tag('notes_img.png') %> <strong><%= attribute.name_attribute %></strong><i id="edit-link"><%= link_to 'Edit', "/admin/product_attributes/#{edit_admin_product_path(attribute).gsub('/admin/products/', '')}" %></i></summary>

       <% unless attribute.attribute_description.empty? %>

           <% list_elements = attribute.attribute_description.scan(/(?<=<li>).*(?=<\/li>)/) %>
           <% text_element = attribute.attribute_description.scan(/(?<=<p>).*(?=<\/p>)/) %>
           <% example_element = attribute.attribute_description.scan(/(?<=<a>).*(?=<\/a>)/) %>


           <% case %>
           <% when attribute.attribute_description[/<li>/] && attribute.attribute_description[/<p>/] && attribute.attribute_description[/<a>/] %>
               <ul class="product-descrption-content">
               <% list_elements.each.with_index do |li, i|  %>

                     <li><b><%= li %></b></li>
                     <p class="text-descript"><%= text_element[i]%><p>
                     <a target="_blank" href="<%= example_element[i] %>" ><%= example_element[i] %></a>

               <% end %>
               </ul>


           <% when attribute.attribute_description[/<li>/] && attribute.attribute_description[/<p>/] %>
               <% list_elements.each.with_index do | li, i|  %>
                   <li><b><%= li %></b></li>
                   <p class="text-descript"><%= text_element[i]%><p>
               <% end %>

           <% when attribute.attribute_description[/<li>/] && attribute.attribute_description[/<a>/] %>
               <% list_elements.each.with_index do | li, i|  %>
                   <li><b><%= li %></b></li>
                   <a target="_blank" href="<%= example_element[i] %>" ><%= example_element[i] %></a>
               <% end %>

           <% when attribute.attribute_description[/<p>/] && attribute.attribute_description[/<a>/] %>
               <% text_element.each.with_index do | text, i|  %>

                     <p class="text-descript" ><%= text %><p>
                     <a target="_blank" href="<%= example_element[i] %>" ><%= example_element[i] %></a>

               <% end %>

           <% when attribute.attribute_description[/<li>/] %>
               <% list_elements.each.with_index do | li, i|  %>
                   <li><b><%= li %></b></li>
               <% end %>

           <% when attribute.attribute_description[/<p>/] %>
               <% text_elements.each.with_index do | text, i|  %>
                   <p class="text-descript" ><%= text %><p>
               <% end %>

           <% when attribute.attribute_description[/<a>/] %>
               <% example_element.each.with_index do | link, i|  %>
                   <a target="_blank" href="<%= example_element[i] %>" ><%= example_element[i] %></a>
           <% end %>

           <% else %>
                   <pre><%= attribute.attribute_description %></pre>
           <% end %>



       <% end %>
     </details>
     <hr>
    <% end %>
</div>