<style>


</style>

<div class="top-whitespace">
</div>

<div class="nav-vertical">
  <%= render 'nav_vertical_brands' %>
</div>

<div class="wrapper_show">

  <div id="description-heading">
      <h3><strong><%=@products.product_name%></strong></h3>
    </div>

  <div class="nav-products">
       | <%= link_to "New Attributes", "#{@products.id}/new_attributes" %>
       | <%= link_to "New #{@products.product_name}", "#{@products.id}/new" %>
       | <%= link_to "New Brand", "#{@products.id}/new_brand" %> |
  </div>
  <hr>
  <% @product_attributes.each do |attribute| %>

     <details>
        <summary><% attribute.num_view %><%= image_tag('notes_img.png') %> <strong><%= attribute.name_attribute %></strong><i id="edit-link"><%= link_to 'Edit', "/admin/product_attributes/#{edit_admin_product_path(attribute).gsub('/admin/products/', '')}" %></i></summary>

       <% unless attribute.attribute_description.empty? %>

           <% attribute.attribute_description.split(/<\/li>|<\/a>|<\/p>/).each do |text_attr| %>
             <% case %>
                   <% when text_attr[/<li>/]%>
                  <div class="list-pd">
                   <ul class="rectangle-list">
                     <li><%= text_attr.gsub(/(,)?<.*>/,'') %></li>
                   </ul>
                  </div>
                   <% when text_attr[/<p>/] %>
                       <div class="text-pd">
                         <p class="text-descript"><%= text_attr.gsub(/(,)?<.*>/,'')%></p>
                       </div>

                   <% when text_attr[/<a>/]%>
                       <div class="link-pd">
                         <a target="_blank" href="<%= text_attr.gsub(/(,)?<.*>/,'') %>" ><%= text_attr.gsub(/<.*>/,'') %></a>
                       </div>

                   <% else %>
                        <%= text_attr %>
            <% end %>
          <% end %>

       <% end %>
     </details>
     <hr>
    <% end %>
</div>