<div class="nav-vertical">
  <%= render 'nav_vertical_brands' %>
</div>

<div class="wrapper_show">

  <div id="description-heading">
    <h3><strong><%= @name_brand.upcase %></strong></h3>
  </div>

  <div class="nav-products">
    | <%= link_to "New #{@name_brand.capitalize}", "#{@brand_id}/new"%>
    | <%= link_to "New Brand", "/product_descriptions/#{@product_id}/new_brand" %>
    | <%= link_to "Back", "/product_descriptions/#{@product_id}" %> |
  </div>

  <hr>

  <table id="keywords" class="feature_attribute" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
  <th>Brand</th>
  <th>Seria</th>
  <th>Model</th>
  <th>Aliases</th>
  <th>EAN</th>
  <th>Part Number</th>
  <th>Example</th>
  <th>Edit</th>
  <th>Destroy</th>
    </tr>
  </thead>
  <tbody>
  <% @features_brand_attributes.each do |f_brand_attr| %>
  <tr>
    <td class="lalign"><%=Admin::FeaturesBrand.find(f_brand_attr.features_brands_id).brand %></td>
      <td title="<%= f_brand_attr.seria_description %>"><%= f_brand_attr.seria %></td>
      <td title="<%= f_brand_attr.model_description %>"><%= f_brand_attr.model %></td>
      <td><%= f_brand_attr.aliases %></td>
      <td><%= f_brand_attr.ean %></td>
      <td><%= f_brand_attr.pn %></td>
      <td><a href= "<%= f_brand_attr.example%>" target="_blank"> <%= "Example"  %></a></td>
      <td><%= link_to 'Edit',  "/admin/feature_brand_attributes/#{edit_admin_product_path(f_brand_attr).gsub('/admin/products/', '')}" %></td>
      <td><%= link_to 'Destroy', f_brand_attr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
  </tbody>
    </table>
</div>
    </div>
</div>