<div class="search-form">
<%= form_tag tablets_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search for...'%>
      <%= submit_tag "Search", class: 'btn btn-default SearchButton' %>
<% end %>
  Listing Tablets
  <%= link_to 'New Tablet', new_tablet_path %>

  <%= form_tag tablets_path, method: :get do |f| %>
      <%= select_tag :model, options_for_select(["Air'", "Air 2", "Mini", "Mini 2", "Mini 3", "Mini 4", "Pro 12.9", "Pro 9.7" ], ""), :prompt => 'Model', id: 'filter-search' %>
      <%= select_tag :connection, options_for_select(["Wi-Fi", "Wi-Fi Cell"], ""), :prompt => 'Connection', id: 'filter-search' %>
      <%= select_tag :storage, options_for_select(["16 Gb", "32 Gb", "64 Gb", "128 Gb", "256 Gb"], ""),:prompt => 'Storage', id: 'filter-search' %>
      <%= select_tag :color, options_for_select(["Silver", "Gold", "Rose Gold", "Space Grey"], ""), :prompt => 'Color', id: 'filter-search' %>
      <%= submit_tag "Search" %>
  <% end %>
</div>




<div class="table-form">
<% unless notice.nil? %>
  <p id="notice"><%= notice %></p>
<% end %>
    <br>

    <table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Seria</th>
      <th>Model</th>
      <th>Connection</th>
      <th>Storage</th>
      <th>Color</th>
      <th>Aen</th>
      <th>Partnumber</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @tablets.each do |tablet| %>
      <tr>
        <td><%= tablet.brand %></td>
        <td><%= tablet.seria %></td>
        <td><%= tablet.model %></td>
        <td><%= tablet.connection %></td>
        <td><%= tablet.storage %></td>
        <td><%= tablet.color %></td>
        <td><%= tablet.aen %></td>
        <td><%= tablet.partnumber %></td>
        <td><%= link_to 'Show', tablet %></td>
        <td><%= link_to 'Edit', edit_tablet_path(tablet) %></td>
        <td><%= link_to 'Destroy', tablet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</form>
  </div>
