<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @admin_feature_brand_attribute.product_id %>
</p>

<p>
  <strong>Features brands:</strong>
  <%= @admin_feature_brand_attribute.features_brands_id %>
</p>

<p>
  <strong>Seria:</strong>
  <%= @admin_feature_brand_attribute.seria %>
</p>

<p>
  <strong>Seria description:</strong>
  <%= @admin_feature_brand_attribute.seria_description %>
</p>

<p>
  <strong>Model:</strong>
  <%= @admin_feature_brand_attribute.model %>
</p>

<p>
  <strong>Aliases:</strong>
  <%= @admin_feature_brand_attribute.aliases %>
</p>

<p>
  <strong>Model description:</strong>
  <%= @admin_feature_brand_attribute.model_description %>
</p>

<p>
  <strong>Ean:</strong>
  <%= @admin_feature_brand_attribute.ean %>
</p>

<p>
  <strong>Pn:</strong>
  <%= @admin_feature_brand_attribute.pn %>
</p>

<p>
  <strong>Example:</strong>
  <%= @admin_feature_brand_attribute.example %>
</p>

<%= link_to 'Edit', edit_admin_feature_brand_attribute_path(@admin_feature_brand_attribute) %> |
<%= link_to 'Back', admin_feature_brand_attributes_path %>
