<%= form_for(@admin_product_attribute) do |f| %>
  <% if @admin_product_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_product_attribute.errors.count, "error") %> prohibited this admin_product_attribute from being saved:</h2>

      <ul>
      <% @admin_product_attribute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= f.collection_select(:product_id, Admin::Product.all, :id, :product_name, :prompt => "Select Product")  %>
  </div>
    <br>
    <div class="field">
      <%= f.number_field :num_view, class: 'form-control', placeholder: 'Enter Number View' %>
    </div>
    <br>
  <div class="field">
    <%= f.text_field :name_attribute, class: 'form-control', placeholder: 'Enter name attribute' %>
  </div>
    <br>
    <p>Когато въвеждате моля използвайте html таговете:&lt;li&gt;attribute&lt;/li&gt;, &lt;p&gt;text&lt;/p&gt; &lt;a&gt;link&lt;/a&gt;</p>
  <div class="attr-descrpt-area">
    <%= f.text_area :attribute_description, class: 'attr-descrpt-area', placeholder: 'Enter Description'%>
  </div>
    <br>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-default navbar-btn' %>
  </div>
<% end %>
