<script>
    var textArea = []
    textArea.push(document.forms[0].getElementsByClassName('styled')[0].value);
    function input_li(){
        textArea.push("<li></li>");
        document.forms[0].getElementsByClassName('styled')[0].value = textArea.toString();

        //exports.replaceNewline = function(input) {
          //  var newline = String.fromCharCode(13, 10);
            //return input.replaceAll('\\n', newline);
    }
    function input_p(){
        textArea.push("<p></p>");
        document.forms[0].getElementsByClassName('styled')[0].value = textArea.toString();
    }
    function input_a(){
        textArea.push("<a></a>");
        document.forms[0].getElementsByClassName('styled')[0].value = textArea.toString();
    }
</script>


<%= form_for(@admin_product_attribute)  do |f| %>
  <% if @admin_product_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_product_attribute.errors.count, "error") %> prohibited this admin_product_attribute from being saved:</h2>

      <ul>
      <% @admin_product_attribute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class = "button-attr">
    <%= f.collection_select(:product_id, Admin::Product.all, :id, :product_name, :prompt => "Select Product", class:'select-pr-attr')  %>
  </div>

  <br>

    <p>Mоля използвайте html таговете:&lt;li&gt;attribute&lt;/li&gt;, &lt;p&gt;text&lt;/p&gt; &lt;a&gt;link&lt;/a&gt;</p>

    <div>
      <%= f.text_field :num_view, class: 'pr-attr-text-f', placeholder: 'Enter Number View' %>
      <%= f.text_field :name_attribute, class: 'pr-attr-text-f', placeholder: 'Enter name attribute' %>
      <input onclick='input_li()' type='button' value='<li>Attribute</li>' id='button'>
      <input onclick='input_p()' type='button' value='<p>Text</p>' id='button'>
      <input onclick='input_a()' type='button' value='<a>link</a>' id='button'>
    </div>


    <%= f.text_area :attribute_description, class: 'styled', placeholder: 'Enter Description'%>


  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-default navbar-btn' %>
  </div>
<% end %>
