<p id="notice"><%= notice %></p>
<div id="wrapper-admin-index">
  <h4>Listing Admin Product Attributes</h4>
  <%= link_to 'New Product attribute', new_admin_product_attribute_path %>
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th>Product</th>
      <th>Name attribute</th>
      <th>Attribute description</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @admin_product_attributes.each do |admin_product_attribute| %>
        <tr>
          <td class="lalign"><%=Admin::Product.find(admin_product_attribute.product_id).product_name %></td>
          <td><%= admin_product_attribute.name_attribute %></td>
          <td><%= admin_product_attribute.attribute_description %></td>
          <td><%= link_to 'Edit', edit_admin_product_attribute_path(admin_product_attribute) %></td>
          <td><%= link_to 'Destroy', admin_product_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
</div>