<div id="wrapper-admin-index">
  <%= render 'admin/admin_vertical_menu'%>
  </div>
<p id="notice"><%= notice %></p>
<div id="wrapper-admin-index">
<h4>Listing Admin Products</h4>
  <%= link_to 'New Product', new_admin_product_path %>
<table id="keywords">
  <thead>
    <tr>
      <th>Product category</th>
      <th>Product name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_products.each do |admin_product| %>
      <tr>
        <td class="lalign"><%=Admin::ProductCategory.find(admin_product.product_category_id).name_category %></td>
        <td class="lalign"><%= admin_product.product_category_id %></td>
        <td><%= admin_product.product_name %></td>
        <td><%= link_to 'Show', admin_product %></td>
        <td><%= link_to 'Edit', edit_admin_product_path(admin_product) %></td>
        <td><%= link_to 'Destroy', admin_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>