<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @macbook.brand %>
</p>

<p>
  <strong>Seria:</strong>
  <%= @macbook.seria %>
</p>

<p>
  <strong>Model:</strong>
  <%= @macbook.model %>
</p>

<p>
  <strong>Pn:</strong>
  <%= @macbook.pn %>
</p>

<p>
  <strong>Cpu brand:</strong>
  <%= @macbook.cpu_brand %>
</p>

<p>
  <strong>Cpu seria:</strong>
  <%= @macbook.cpu_seria %>
</p>

<p>
  <strong>Cpu model:</strong>
  <%= @macbook.cpu_model %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @macbook.ram %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @macbook.storage %>
</p>

<p>
  <strong>Video brand:</strong>
  <%= @macbook.video_brand %>
</p>

<p>
  <strong>Video model:</strong>
  <%= @macbook.video_model %>
</p>

<p>
  <strong>Display:</strong>
  <%= @macbook.display %>
</p>

<p>
  <strong>Touchscreen:</strong>
  <%= @macbook.touchscreen %>
</p>

<p>
  <strong>Os:</strong>
  <%= @macbook.os %>
</p>

<%= link_to 'Edit', edit_macbook_path(@macbook) %> |
<%= link_to 'Back', macbooks_path %>
