<%= form_for(@apple_macbook) do |f| %>
  <% if @apple_macbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apple_macbook.errors.count, "error") %> prohibited this apple_macbook from being saved:</h2>

      <ul>
      <% @apple_macbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :seria %><br>
    <%= f.text_field :seria %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :pn %><br>
    <%= f.text_field :pn %>
  </div>
  <div class="field">
    <%= f.label :ean %><br>
    <%= f.text_field :ean %>
  </div>
  <div class="field">
    <%= f.label :cpu_brand %><br>
    <%= f.text_field :cpu_brand %>
  </div>
  <div class="field">
    <%= f.label :cpu_seria %><br>
    <%= f.text_field :cpu_seria %>
  </div>
  <div class="field">
    <%= f.label :cpu_model %><br>
    <%= f.text_field :cpu_model %>
  </div>
  <div class="field">
    <%= f.label :ram %><br>
    <%= f.text_field :ram %>
  </div>
  <div class="field">
    <%= f.label :storage %><br>
    <%= f.text_field :storage %>
  </div>
  <div class="field">
    <%= f.label :video_brand %><br>
    <%= f.text_field :video_brand %>
  </div>
  <div class="field">
    <%= f.label :video_model %><br>
    <%= f.text_field :video_model %>
  </div>
  <div class="field">
    <%= f.label :display %><br>
    <%= f.text_field :display %>
  </div>
  <div class="field">
    <%= f.label :resolution %><br>
    <%= f.text_field :resolution %>
  </div>
  <div class="field">
    <%= f.label :touch_screen %><br>
    <%= f.text_field :touch_screen %>
  </div>
  <div class="field">
    <%= f.label :os %><br>
    <%= f.text_field :os %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
