<%= form_for(@apple_macbook) do |f| %>
  <% if @apple_macbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apple_macbook.errors.count, "error") %> prohibited this apple_macbook from being saved:</h2>

      <ul>
      <% @apple_macbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.text_field :brand, class: "form-control", placeholder: "Brand" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :seria, class: "form-control", placeholder: "Seria" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :model, class: "form-control", placeholder: "Model" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :pn, class: "form-control", placeholder: "Part number:" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :ean, class: "form-control", placeholder: "EAN:" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :cpu_brand, class: "form-control", placeholder: "Cpu brand" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :cpu_seria, class: "form-control", placeholder: "Cpu seria" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :cpu_model, class: "form-control", placeholder: "Cpu model" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :ram, class: "form-control", placeholder: "Ram" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :storage, class: "form-control", placeholder: "Storage" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :video_brand, class: "form-control", placeholder: "Video brand" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :video_model, class: "form-control", placeholder: "Video model" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :display, class: "form-control", placeholder: "Display" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :resolution, class: "form-control", placeholder: "Resolution" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :touch_screen, class: "form-control", placeholder: "Touch screen" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :os, class: "form-control", placeholder: "OS" %>
    </div>
    <br>  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
