<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @apple_macbook.brand %>
</p>

<p>
  <strong>Seria:</strong>
  <%= @apple_macbook.seria %>
</p>

<p>
  <strong>Model:</strong>
  <%= @apple_macbook.model %>
</p>

<p>
  <strong>Pn:</strong>
  <%= @apple_macbook.pn %>
</p>

<p>
  <strong>Ean:</strong>
  <%= @apple_macbook.ean %>
</p>

<p>
  <strong>Cpu brand:</strong>
  <%= @apple_macbook.cpu_brand %>
</p>

<p>
  <strong>Cpu seria:</strong>
  <%= @apple_macbook.cpu_seria %>
</p>

<p>
  <strong>Cpu model:</strong>
  <%= @apple_macbook.cpu_model %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @apple_macbook.ram %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @apple_macbook.storage %>
</p>

<p>
  <strong>Video brand:</strong>
  <%= @apple_macbook.video_brand %>
</p>

<p>
  <strong>Video model:</strong>
  <%= @apple_macbook.video_model %>
</p>

<p>
  <strong>Display:</strong>
  <%= @apple_macbook.display %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @apple_macbook.resolution %>
</p>

<p>
  <strong>Touch screen:</strong>
  <%= @apple_macbook.touch_screen %>
</p>

<p>
  <strong>Os:</strong>
  <%= @apple_macbook.os %>
</p>

<%= link_to 'Edit', edit_apple_macbook_path(@apple_macbook) %> |
<%= link_to 'Back', apple_macbooks_path %>
