<!DOCTYPE html>
<html>
<head>
  <title>Deassistant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <header>
    <%= render 'shared/navbar'%>
  </header>
  <% unless notice.nil? || alert.nil? %>
  <div id="top-messages">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
      <% end %>

  <main>
    <%= yield %>
  </main>
</div>
</body>
</html>
